<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chrissetiana.android.learnfilipino">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.chrissetiana.android.learnfilipino.MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.chrissetiana.android.learnfilipino.AnimalsActivity"
            android:label="@string/category_animals"
            android:parentActivityName="com.chrissetiana.android.learnfilipino.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.chrissetiana.android.learnfilipino.MainActivity" />
        </activity>
        <activity
            android:name="com.chrissetiana.android.learnfilipino.ColorsActivity"
            android:label="@string/category_colors"
            android:parentActivityName="com.chrissetiana.android.learnfilipino.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.chrissetiana.android.learnfilipino.MainActivity" />
        </activity>
        <activity
            android:name="com.chrissetiana.android.learnfilipino.DaysActivity"
            android:label="@string/category_days"
            android:parentActivityName="com.chrissetiana.android.learnfilipino.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.chrissetiana.android.learnfilipino.MainActivity" />
        </activity>
        <activity
            android:name="com.chrissetiana.android.learnfilipino.PeopleActivity"
            android:label="@string/category_people"
            android:parentActivityName="com.chrissetiana.android.learnfilipino.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.chrissetiana.android.learnfilipino.MainActivity" />
        </activity>
        <activity
            android:name="com.chrissetiana.android.learnfilipino.MonthsActivity"
            android:label="@string/category_months"
            android:parentActivityName="com.chrissetiana.android.learnfilipino.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.chrissetiana.android.learnfilipino.MainActivity" />
        </activity>
        <activity
            android:name="com.chrissetiana.android.learnfilipino.NumbersActivity"
            android:label="@string/category_numbers"
            android:parentActivityName="com.chrissetiana.android.learnfilipino.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.chrissetiana.android.learnfilipino.MainActivity" />
        </activity>
        <activity
            android:name="com.chrissetiana.android.learnfilipino.PhrasesActivity"
            android:label="@string/category_phrases"
            android:parentActivityName="com.chrissetiana.android.learnfilipino.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.chrissetiana.android.learnfilipino.MainActivity" />
        </activity>
    </application>

</manifest>